__pycache__/
*.py[cod]
*.so

*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.db

*.bak


django_vectordb*

# stupid IDEs
.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db


htmlcov/
.coverage
coverage.xml
*.cover
.cache

.pytest_cache/

# Migrations should be tracked, so don’t ignore migrations/ unless you're sure
# But you can ignore auto-created __init__.py in empty migration folders if needed

nginx*
datadump*
