{% extends 'base.html' %}

{% block content %}
<h2>College List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Website</th>
        </tr>
    </thead>
    <tbody>
        {% for college in colleges %}
        <tr>
            <td>{{ college.name }}</td>
            <td>{{ college.location }}</td>
            <td><a href="{{ college.website }}" target="_blank">{{ college.website }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'add_college' %}" class="btn btn-primary">Add College</a>
{% endblock %}
