{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block content %}

    <h1>Welcome To Your AI College Counselor</h1>

    <h2>Your College Applications</h2>
    {% if applications %}
        <ul>
            {% for app in applications %}
                <li>
                    <a href="{% url 'counselor:track_application' app.id %}">
                        {{ app.college }} — {{ app.get_application_status_display }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven't added any applications yet.</p>
    {% endif %}

    {% include 'chat_widget.html' %}

{% endblock %}
