{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Profile</title>
</head>
<body>
    Edit Profile
    <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <input type="text" placeholder="First Name" name="fname" value="{{user.fname}}">
        <input type="text" placeholder="Last Name" name="lname" value="{{user.lname}}">
        <input type="email" placeholder="Email" name="email" value="{{user.email}}">
        <input type="text" placeholder="School" name="school" value="{{user.school}}">
        <select name="grade">
            <option value="" {% if user.grade != 9 and user.grade != 10 and user.grade != 11 and user.grade != 12 %}selected{% endif %}>Grade</option>
            <option value="9" {% if user.grade == 9 %}selected{% endif %}>Freshman</option>
            <option value="10" {% if user.grade == 10 %}selected{% endif %}>Sophomore</option>
            <option value="11" {% if user.grade == 11 %}selected{% endif %}>Junior</option>
            <option value="12" {% if user.grade == 12 %}selected{% endif %}>Senior</option>   
        </select>
        <input type="text" placeholder="Location" name="location" value="{{user.location}}">
        <select name="citizenship_status">
            <option value="" {% if user.citizenship_status != 1 and user.citizenship_status != 2 and user.citizenship_status != 3 and user.citizenship_status != 4 %}selected{% endif %}>Citizenship Status</option>
            <option value="1" {% if user.citizenship_status == 1 %}selected{% endif %}>Citizen</option>
            <option value="2" {% if user.citizenship_status == 2 %}selected{% endif %}>Permanent Resident</option>
            <option value="3" {% if user.citizenship_status == 3 %}selected{% endif %}>Visa</option>
            <option value="4" {% if user.citizenship_status == 4 %}selected{% endif %}>International</option>
        </select>
        <select name="first_gen">
            <option value="" {% if user.first_gen != 1 and user.first_gen != 2 %}selected{% endif %}>First Generation Status</option>
            <option value="1" {% if user.first_gen == 1 %}selected{% endif %}>Not First Generation</option>
            <option value="2" {% if user.first_gen == 2 %}selected{% endif %}>First Generation</option>
        </select>
        {% if user.ethnicity != None %}
            <input type="text" placeholder="Ethnicity" name="ethnicity" value="{{user.ethnicity}}">
        {% else %}
            <input type="text" placeholder="Ethnicity" name="ethnicity">
        {% endif %}
        {% if user.gender != None %}
            <input type="text" placeholder="gender" name="gender" value="{{user.gender}}">
        {% else %}
            <input type="text" placeholder="gender" name="gender">
        {% endif %}
        {% if user.college_goals != None %}
            <textarea name="college_goals" placeholder="College Goals">{{user.college_goals}}</textarea>
        {% else %}
            <textarea name="college_goals" placeholder="College Goals"></textarea>
        {% endif %}
        {% if user.major_goals != None %}
            <textarea name="major_goals" placeholder="Major Goals">{{user.major_goals}}</textarea>
        {% else %}
            <textarea name="major_goals" placeholder="Major Goals"></textarea>
        {% endif %}
        <input type="file" name="resume" placeholder="Resume" value="{{user.resume}}">
        <input type="number" name="class_rank" placeholder="Class Rank" value="{{user.class_rank}}">
        <input type="number" name="class_size" placeholder="Class Size" value="{{user.class_size}}">
        <input type="number" name="psat" placeholder="PSAT Score" value="{{user.psat}}">
        <input type="number" name="sat" placeholder="SAT Score" value="{{user.sat}}">
        <input type="number" name="act" placeholder="ACT Score" value="{{user.act}}">
        <button type = "submit">Submit</button>
    </form>
    <script type="text/javascript" src="{% static 'scripts/script.js' %}"></script>
</body>
</html>
